body {
  margin: 0;
}

#root-menu {
  display: block;
  position: absolute;
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
}

.item-basic {
  pointer-events: none;
}

.cursor {
  pointer-events: none;
}